.btn-add-post {
    margin-top: 10px;
    width: 200px;
}

.photo {
    border-radius: 100%;
    &--container {
        display: flex;
        justify-content: center;
        margin-top: 20px;
    }

    &--details {
        display: flex;
        align-items: center;
        justify-content: center;
        &_img {
            max-width: 800px;
        }
    }

    &--logo{
        &-small {
            max-width: 50px;
        }
    }

    &--info {
        padding-left: 15px;
        width: 300px;
        &_user {
            display: flex;
            &-details {
                display: flex;
                align-items: center;
                padding-left: 15px;
            }
        }
    }
}
