.tree-software-company {
    color: purple;
}

.profile-info {
    &_profile {
        display: flex;
    }
    &_account-details {
        display: flex;
        p {
            padding-right: 10px;
        }
    }
    &_info {
        span {
            display: flex;
            flex-wrap: wrap;
        }
    }
}
.logo {
    &_main {
        margin: 15px;
        width: 160px;
    }
}

.photo {
    display: flex;
    &_listing {
        max-width: 1260px;
        padding: 10px;
    }
}
