.tree-software-company {
    color: purple;
}

.new-post {
    &_btn {
        display: flex;
        position: relative;
        top: -50px;
        justify-content: right;
    }
}

.profile {
    &--link-dark {
        color: #000;
    }
    &--link {
        text-decoration: none;
    }
    &--follow {
        margin-left: 10px;
    }
}

.profile-info {
    &_profile {
        display: flex;
    }
    &_account-details {
        display: flex;
        p {
            padding-right: 10px;
        }
    }
    &_info {
        span {
            display: flex;
            flex-wrap: wrap;
        }
    }
    &--usernamefollow {
        display: flex;
        align-items: center;
        padding-bottom: 15px;
    }
}
.logo {
    &_main {
        margin: 15px;
        width: 160px;
    }
}

.photo {
    display: flex;
    flex-wrap: wrap;
    &_listing {
        max-width: 1260px;
        padding: 10px;
    }
}
